## Downsampling Dataset

In [1]:
import numpy as np
import os

import time
from PIL import Image
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
val = np.load('/Users/anmolchalise/Desktop/affectnet/train_set/annotations/train_val.npz')
aro = np.load('/Users/anmolchalise/Desktop/affectnet/train_set/annotations/train_aro.npz')
exp = np.load('/Users/anmolchalise/Desktop/affectnet/train_set/annotations/train_exp.npz')
lnd = np.load('/Users/anmolchalise/Desktop/affectnet/train_set/annotations/train_lnd.npz')
img_path = np.load('/Users/anmolchalise/Desktop/affectnet/train_set/annotations/train_imgpath.npz')

In [ ]:
dfData = pd.DataFrame(img_path['path'],columns=['image'])
dfData.insert(1, "Valence", val['val'])
dfData.insert(2, "Arousal", aro['aro'])
dfData.insert(3, "Expression Class", exp['exp'])
dfData['Landmarks'] = [row.tolist() for row in lnd['lnd']]
dfData.head()

In [ ]:
dfData_grp_exp = dfData.groupby('Expression Class')
dfData_grp_exp.head()

In [8]:
dfData_neu = dfData_grp_exp.get_group('0')
dfData_hap = dfData_grp_exp.get_group('1')
dfData_sad = dfData_grp_exp.get_group('2')
dfData_sur = dfData_grp_exp.get_group('3')
dfData_fea = dfData_grp_exp.get_group('4')
dfData_dis = dfData_grp_exp.get_group('5')
dfData_ang = dfData_grp_exp.get_group('6')
dfData_con = dfData_grp_exp.get_group('7')
print('Neutral = ',len(dfData_neu))
print('Happy = ',len(dfData_hap))
print('Sad = ',len(dfData_sad))
print('Surprise = ',len(dfData_sur))
print('Fear = ',len(dfData_fea))
print('Disgust = ',len(dfData_dis))
print('Anger = ',len(dfData_ang))
print('Contempt = ',len(dfData_con))

Neutral =  74874
Happy =  134415
Sad =  25459
Surprise =  14090
Fear =  6378
Disgust =  3803
Anger =  24882
Contempt =  3750

## Dataset Sampling Based On Emoset Architecture

In [ ]:
dfData_neu_smp = dfData_neu[:15037]
dfData_hap_smp = dfData_hap[:19445]
dfData_sad_smp = dfData_sad[:12676]
dfData_sur_smp = dfData_sur[:14090]
dfData_fea_smp = dfData_fea[:10078]
# dfData_dis_smp = dfData_dis[:3803]
# dfData_ang_smp = dfData_ang[:10660]
# dfData_con_smp = dfData_con[:3750]

print('Neutral = ',len(dfData_neu_smp))
print('Happy = ',len(dfData_hap_smp))
print('Sad = ',len(dfData_sad_smp))
print('Surprise = ',len(dfData_sur_smp))
print('Fear = ',len(dfData_fea_smp))
# print('Disgust = ',len(dfData_dis_smp))
# print('Anger = ',len(dfData_ang_smp))
# print('Contempt = ',len(dfData_con_smp))

In [17]:
dfData_smp = pd.concat([dfData_neu_smp, dfData_hap_smp, dfData_sad_smp, dfData_sur_smp, dfData_fea_smp])
dfData_smp = dfData_smp.sample(frac=1)
dfData_smp

,image,Valence,Arousal,Expression Class,Landmarks
267194,train_set/images/73478.jpg,0.396825,0.857143,3,"[41.94991869918698, 90.17626556016599, 40.6113..."
253714,train_set/images/55952.jpg,0.163906,0.733264,3,"[6.922737306843268, 61.59569230769232, 3.34269..."
37581,train_set/images/149006.jpg,0.808169,0.120983,1,"[22.11190751445087, 82.6231048951049, 23.50381..."
1200,train_set/images/101539.jpg,0.458281,0.0579435,1,"[12.977963446475195, 86.59904306220096, 16.545..."
4083,train_set/images/105362.jpg,0.650794,0,1,"[25.44410256410256, 57.23333333333333, 18.2358..."
...,...,...,...,...,...
41411,train_set/images/153957.jpg,0.912698,0.15873,1,"[23.779915611814346, 108.95662447257384, 24.22..."
167219,train_set/images/31749.jpg,0.174603,0.769841,3,"[48.61879518072289, 69.61818181818182, 42.1146..."
35640,train_set/images/14652.jpg,-0.0992063,0.789337,4,"[3.1414634146341474, 129.2567597765363, 4.2614..."
93461,train_set/images/221707.jpg,-0.07259,0.890437,4,"[23.878400000000003, 73.85128834355828, 22.833..."
273567,train_set/images/81651.jpg,-0.103175,0.563492,4,"[-19.776711111111112, 122.17875268817205, -17...."

## saving downsampled .npz file

In [21]:
imgpath_downsmp = dfData_smp['image'].to_numpy()
np.savez('/Users/anmolchalise/Desktop/affectnet/train_set/annotations_5/train_imgpath_smp.npz', path=imgpath_downsmp)
exp_downsmp = dfData_smp['Expression Class'].to_numpy()
np.savez('/Users/anmolchalise/Desktop/affectnet/train_set/annotations_5/train_exp_smp.npz', exp=exp_downsmp)

In [22]:
val_downsmp = dfData_smp['Valence'].to_numpy()
np.savez('/Users/anmolchalise/Desktop/affectnet/train_set/annotations_5/train_val_smp.npz', val=val_downsmp)
aro_downsmp = dfData_smp['Arousal'].to_numpy()
np.savez('/Users/anmolchalise/Desktop/affectnet/train_set/annotations_5/train_aro_smp.npz', aro=aro_downsmp)
lnd_downsmp = dfData_smp['Landmarks'].to_numpy()
np.savez('/Users/anmolchalise/Desktop/affectnet/train_set/annotations_5/train_lnd_smp.npz', lnd=lnd_downsmp)

## checking whether downsampling is successful or not

In [24]:
imgpath_load = np.load('/Users/anmolchalise/Desktop/affectnet/train_set/annotations_5/train_imgpath_smp.npz', allow_pickle=True)
exp_load = np.load('/Users/anmolchalise/Desktop/affectnet/train_set/annotations_5/train_exp_smp.npz', allow_pickle=True)

print(imgpath_load['path'].shape)
print(imgpath_load['path'])
print(exp_load['exp'])

print(exp_load['exp'].shape)

(71326,)
['train_set/images/73478.jpg' 'train_set/images/55952.jpg'
 'train_set/images/149006.jpg' ... 'train_set/images/14652.jpg'
 'train_set/images/221707.jpg' 'train_set/images/81651.jpg']
(71326,)
['3' '3' '1' ... '4' '4' '4']

## Validation downsampling

In [3]:
val = np.load('/Users/anmolchalise/Desktop/affectnet/val_set/annotations/val_val.npz')
aro = np.load('/Users/anmolchalise/Desktop/affectnet/val_set/annotations/val_aro.npz')
exp = np.load('/Users/anmolchalise/Desktop/affectnet/val_set/annotations/val_exp.npz')
lnd = np.load('/Users/anmolchalise/Desktop/affectnet/val_set/annotations/val_lnd.npz')
img_path = np.load('/Users/anmolchalise/Desktop/affectnet/val_set/annotations/val_img_path.npz')

In [6]:
dfData = pd.DataFrame(img_path['img_path'],columns=['image'])
# dfData.insert(1, "Valence", val['val'])
# dfData.insert(2, "Arousal", aro['aro'])
# dfData.insert(3, "Expression Class", exp['exp'])
# dfData['Landmarks'] = [row.tolist() for row in lnd['lnd']]
# dfData.head()
dfData

           image
0     /.DS_Store
1         /0.jpg
2         /1.jpg
3        /10.jpg
4       /100.jpg
...          ...
3995    /992.jpg
3996    /994.jpg
3997    /995.jpg
3998    /996.jpg
3999    /999.jpg

[4000 rows x 1 columns]